#popdiv {
	width: 100%;
	height: 949px;
	background-color: rgba(107, 107, 107, 0.7);
	position: fixed;
	top: 0;
}
.info-box {
	width: 30%;
	height: 600px;
	background: #ffffff;
	margin: 100px 35%;
	border-radius:  5px;
	box-shadow: 5px 5px 5px #7d7d7d;
}
.close {
	width: 14px;
	height: 14px;
	background-color: rgba(97, 97, 97, 0);
	border-radius: 7px;
	float: right;
	margin: 14px;
}
.close:hover {
	background-color: rgba(97, 97, 97, 1);
}
.line {
	position: relative;
	left: 6px;
    top: -3.7px;
    width: 3px;
    height: 12px;
	background: #bbb;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: inline-block;
}
.line:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
    height: 12px;
    background: #bbb;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}
.info-title {
	margin: 10px 0;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    text-indent: 5px;
    color: #08b5c3;
}
.info-input {
	clear: both;
}
.tab {
	font-size: 17px;
	clear: both;
	padding: 20px 0;
}
.tab-header {
	width: 70px;
	display: block;
	float: left;
	text-align: right;
	margin-left: 15%;
}
.tab-input {
	margin-left: 20px;
	border-color: #0baac7;
	border-width: 0 0 1.5px 0;
	outline: none;
	color: #005767;
	font-size: 17px;
	text-align: center;
}

button {
	border: none;
	background: #004571;
	font-size: 15px;
	margin: 0 auto;
	padding: 14px 20px;
	color: white;
	font-weight: 700;
	letter-spacing: 5px;
	cursor: pointer;
	display: block;
}

@keyframes box-moveSide {
	from {margin: 100px 35%;}
	to {margin: 100px 70%;}
}

@-moz-keyframes box-moveSide {
	from {margin: 100px 35%;}
	to {margin: 100px 70%;}
}

@-webkit-keyframes box-moveSide {
	from {margin: 100px 35%;}
	to {margin: 100px 70%;}
}

@-o-keyframes box-moveSide {
	from {margin: 100px 35%;}
	to {margin: 100px 70%;}
}

@keyframes box-alpha {
	from {background-color: rgba(107, 107, 107, 0.7)}
	to {background-color: rgba(107, 107, 107, 0.1)}
}

@-moz-keyframes box-alpha {
	from {background-color: rgba(107, 107, 107, 0.7)}
	to {background-color: rgba(107, 107, 107, 0.1)}
}

@-webkit-keyframes box-alpha {
	from {background-color: rgba(107, 107, 107, 0.7)}
	to {background-color: rgba(107, 107, 107, 0.1)}
}

@-o-keyframes box-alpha {
	from {background-color: rgba(107, 107, 107, 0.7)}
	to {background-color: rgba(107, 107, 107, 0.1)}
}